# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore build output
target/

# IDE-specific files
.idea/
*.iml
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled files
*.class
