.main {
    -fx-background-color: #232323;
}
.main * {
    -fx-text-fill: #ffffff;
}

TextField, ScrollPane,  .lighter-bg {
    -fx-background-color: #323232;
}

Button, .lightest-bg {
    -fx-background-color: #424141;
}

Button:hover {
    -fx-background-color: #5a5a5a;
}

.text-area .content {
    -fx-background-color: #424141;
}